# SPDX-FileCopyrightText: openSTB contributors
# SPDX-License-Identifier: CC0-1.0

# Compiled Python files.
__pycache__/
*.py[cod]

# Packaging artifacts.
build/
dist/
src/openstb/locale

# mypy cache of type information.
.mypy_cache/

# Test coverage reports.
.coverage*
tests/coverage

# Scratch space which Dask may create during testing or running examples.
dask-scratch-space/

# Output of example simulations.
*.mat
*.npz
*.zarr
