# SPDX-FileCopyrightText: openSTB contributors
# SPDX-License-Identifier: BSD-2-Clause-Patent
#
site_name: "OpenSTB simulator"
copyright: Copyright &copy; OpenSTB contributors
repo_url: https://github.com/openSTB/simulator
repo_name: openSTB/simulator

theme:
  name: material
  font: false
  features:
    - content.code.copy
    - navigation.tabs
    - navigation.tabs.sticky
    - search.highlight
    - search.suggest
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: light blue
      accent: orange
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue grey
      accent: orange
      toggle:
        icon: material/weather-night
        name: Switch to system preference
  icon:
    repo: fontawesome/brands/github

plugins:
  - api-autonav:
      modules: ['src/openstb']
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          inventories:
            - url: https://docs.python.org/3/objects.inv
              domains: [py, std]
            - https://numpy.org/doc/stable/objects.inv
            - url: https://docs.dask.org/en/stable/objects.inv
              domains: [py, std]
            - url: https://distributed.dask.org/en/stable/objects.inv
              domains: [py, std]
          options:
            docstring_section_style: table
            docstring_style: "numpy"
            filters: ["!^_"]
            merge_init_into_class: true
            separate_signature: true
            show_root_heading: false
            show_signature_annotations: false
            signature_crossrefs: true
            summary: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
  - search

markdown_extensions:
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.snippets
  - pymdownx.superfences

extra_javascript:
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

watch:
  - src

nav:
  - index.md
  - Getting started:
    - getting_started/install.md
    - Examples:
      - examples/simple_points.md
  - Plugins:
    - plugins/index.md
    - included_plugins/index.md
    - Controller:
      - Overview: plugins/controller/overview.md
      - plugins/controller/simple_points.md
      - plugins/controller/interface.md
